body {
  background-color: #CCCCFF;
  margin: 0 auto;
  color: white;
}

@font-face {
  font-family: "ZIX";
  src: url("/static/fonts/ZIX.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "runic";
  src: url("/static/fonts/runic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
#poloska {
  width: 50%;
  height: 40px;
  margin: 0 auto;
  text-align: left;
  border: solid 3px #0075FF;
  border-left: none;
  border-right: none;
  border-bottom: none;
  transition-duration: 1s;
}
#poloska span {
  font-size: 20px;
  font-family: "ZIX";
  position: relative;
  top: 10px;
  color: #0075FF;
  margin-left: 10px;
}

#poloska.active {
  width: 74.8%;
  border-left: solid 3px #0075FF;
  border-right: solid 3px #0075FF;
}

.post_create_form form {
  resize: none;
  color: white;
}
.post_create_form form button {
  margin-top: 10px;
}

#form_block {
  width: 50%;
  margin: 0 auto;
  border: solid 3px #0075FF;
  border-left: none;
  border-right: none;
  transition-duration: 1s;
}

#form_block.active {
  width: 74.8%;
  border-left: solid 3px #0075FF;
  border-right: solid 3px #0075FF;
}

#form_block.activate {
  display: block;
}

#txtarea {
  resize: none;
  overflow: hidden;
  transition-duration: 1s;
  border: none;
  margin-top: 10px;
  background: none;
  color: black;
  outline: none;
}

.crp_button {
  height: 30px;
  width: 120px;
  float: right;
  color: white;
  background-color: #0075FF;
  outline: none;
  border: none;
  border-radius: 20px;
  font-family: "ZIX";
  margin-right: 10px;
  cursor: pointer;
}
.crp_button:hover {
  background-color: #FF9C00;
}
.crp_button:active {
  margin-top: 9px;
}

#user_menu {
  width: 24.9%;
  height: 99.7%;
  border: solid 3px #0075FF;
  border-left: none;
  position: fixed;
  top: 0px;
  left: 0px;
  transition-duration: 1s;
}
#user_menu a {
  color: #0075FF;
  text-decoration: none;
}
#user_menu a:active {
  color: #0075FF;
  text-decoration: none;
}
#user_menu a:visited {
  color: #0075FF;
  text-decoration: none;
}
#user_menu a:hover {
  color: #0075FF;
  text-decoration: underline;
}

#user_menu.active {
  width: 0%;
  height: 0%;
  border: none;
  font-size: 0px;
}

#user_menu ul li:first-child {
  margin-left: 10%;
  color: #0075FF;
  font-size: 1.95em;
  list-style: none;
  padding: 25px 10px 10px 10px;
  font-family: "ZIX";
}

#user_menu ul li:not(:first-child) {
  width: 90%;
  margin-left: 10%;
  font-size: 1.1em;
  list-style: none;
  padding: 15px 10px;
  font-family: "Open Sans", sans-serif;
  color: #0075FF;
}

#user_menu ul li a {
  color: #0075FF;
  text-decoration: none;
  cursor: pointer;
}

#user_menu ul li a:hover {
  color: #FFC900;
}

#user_info {
  position: relative;
  top: 45%;
  width: 70%;
  height: 70px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #0075FF;
  transition-duration: 1s;
  animation-name: hide_info_block_before;
  animation-duration: 0.5s;
  color: black;
}

.user_info_avatar {
  border-radius: 50%;
  width: 50px;
  height: 40px;
  margin-left: 10px;
  margin-top: 15px;
}

#user_info_name {
  position: relative;
  bottom: 15px;
  margin-left: 5px;
  font-family: "Open Sans", sans-serif;
}

#user_info_name {
  font-size: 18px;
  color: black;
}

#user_info.active {
  display: none;
}

#user_info_name.active {
  display: none;
}

@keyframes hide_info_block {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hide_info_block_before {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#menu_btn {
  position: absolute;
  left: 20px;
  top: 20px;
  background: #0075FF;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  transition-duration: 1s;
}
#menu_btn span {
  display: block;
  width: 25px;
  height: 4px;
  background-color: black;
  margin: 4px 0;
}
#menu_btn:hover {
  background-color: #FF9C00;
}

#menu_btn.active {
  left: 5px;
}

#user_trends {
  width: 24.9%;
  height: 99.7%;
  border: solid 3px #0075FF;
  border-right: none;
  position: fixed;
  top: 0px;
  right: 0px;
  transition-duration: 1s;
}

#form_search_block {
  margin: 0 auto;
  margin-top: 10px;
  width: 100%;
  font-family: "ZIX";
}

#input_search {
  width: 80%;
  height: 25px;
  border: solid 3px #0075FF;
  border-radius: 5px;
  outline: none;
  background: none;
  color: black;
  margin-left: 10px;
}
#input_search:focus {
  border-color: #FFC900;
}

#button_search {
  height: 25px;
  width: 15%;
  background-color: #0075FF;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}
#button_search:hover {
  background-color: #FF9C00;
}
#button_search:active {
  margin-top: 9px;
}

#user_trends.active {
  width: 0%;
  height: 0%;
  border: none;
}

#post_block {
  width: 49.9%;
  margin: 0 auto;
  border-top: solid 3px #0075FF;
  transition-duration: 1s;
}

#post_block.active {
  width: 74.8%;
  border-left: solid 3px #0075FF;
  border-right: solid 3px #0075FF;
}

.post_info {
  margin-top: 10px;
  margin-left: 10px;
}
.post_info a {
  color: white;
  text-decoration: none;
}
.post_info a:active {
  color: white;
  text-decoration: none;
}
.post_info a:visited {
  color: #0075FF;
  text-decoration: none;
}
.post_info a:hover {
  color: white;
  text-decoration: underline;
}

.post_user_avatar {
  border-radius: 50%;
  width: 45px;
  height: 40px;
  float: left;
}

#post_username {
  position: relative;
  left: 0px;
  margin-left: 10px;
  font-family: "Open Sans", sans-serif;
  color: #0000FF;
}

#post_date {
  margin-left: 20px;
  font-family: "Open Sans", sans-serif;
  color: #616161;
}

#post_text {
  margin-left: 20px;
  font-family: "Open Sans", sans-serif;
  color: black;
}

.post_img_container {
  width: 90%;
  height: 500px;
  margin: 0 auto;
}

#post_image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 100%;
}

#more {
  color: #0000FF;
  text-decoration: none;
}
#more:active {
  color: white;
  text-decoration: none;
}
#more:visited {
  color: #0075FF;
  text-decoration: none;
}
#more:hover {
  color: white;
  text-decoration: underline;
}

#like_btn {
  margin-left: 70px;
  background-color: #0075FF;
  border: none;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  color: white;
  width: 60px;
  position: relative;
}
#like_btn span {
  color: white;
}
#like_btn:active {
  top: -1px;
}
#like_btn:hover {
  background-color: #FF9C00;
}

#like_color {
  color: #0075FF;
}

::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 5px;
  height: 0px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background-color: black;
  cursor: pointer;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #0075FF;
  background-image: url("https://yraaa.ru/_pu/24/59610063.png");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0075FF;
  cursor: pointer;
}

::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 7px;
  height: 20px;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #menu_lowsize_btn {
    position: absolute;
    left: 11%;
    top: 0.5%;
    background: #0075FF;
    padding: 5px;
    border-radius: 12px;
    cursor: pointer;
    transition-duration: 1s;
  }
  #menu_lowsize_btn:hover {
    background-color: #FFC900;
  }

  #menu_lowsize_btn span {
    display: block;
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
  }

  #user_menu {
    display: none;
  }

  #user_trends {
    display: none;
  }

  #poloska {
    width: 80%;
    border-left: solid 1px #939393;
    border-right: solid 1px #939393;
    border-bottom: solid 1px #939393;
    text-align: center;
  }

  #form_block {
    display: none;
  }

  #post_block {
    width: 80%;
    border-left: solid 1px #939393;
    border-right: solid 1px #939393;
  }

  .post_img_container {
    height: 200px;
    width: 100%;
  }

  #post_image {
    height: 100%;
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  #menu_lowsize {
    display: none;
  }
}
#menu_lowsize {
  background-color: #0A0A0A;
  width: 80%;
  position: absolute;
  left: 9.8%;
  top: 42px;
  transition-duration: 1s;
  z-index: 99;
  font-size: 0px;
  text-align: left;
}
#menu_lowsize ul li:first-child {
  color: white;
  font-size: 1.95em;
  list-style: none;
  font-family: "ZIX";
}
#menu_lowsize ul li:not(:first-child) {
  width: 90%;
  font-size: 1.1em;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}
#menu_lowsize ul li a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
#menu_lowsize ul li a:hover {
  color: #0075FF;
}

#menu_lowsize.active {
  height: 300px;
  font-size: 12px;
  border: solid 1px #939393;
}

#form_create_post_lowsize {
  position: relative;
  top: -10px;
  display: none;
  border-top: solid 1px #939393;
}
#txtarea_lowsize {
  overflow-y: auto;
  resize: none;
  transition-duration: 1s;
  border: none;
  margin-top: 10px;
  background: none;
  color: white;
  outline: none;
}
#txtarea_lowsize::placeholder {
  color: white;
}

#form_create_post_lowsize.active {
  display: block;
}

.crp_button_lowsize {
  position: absolute;
  right: 40%;
  height: 30px;
  width: 120px;
  color: white;
  background-color: #0075FF;
  outline: none;
  border: none;
  border-radius: 20px;
  font-family: "ZIX";
  cursor: pointer;
}
.crp_button_lowsize:hover {
  background-color: #FFC900;
}