<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>More</title>
</head>
<body>
    <h1>More</h1>

    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}


    {% if post.was_published_recently == True %}
        <p>New post!<p>
    {% endif %}

    <a href="{% url 'otherprofile' post.user.username %}">{{ post.user }}</a>
    <p>{{ post.text }}</p>
    {% if post.image %}
        <img height="500" width="500" src="{{ post.image.url }}"><br>
    {% endif %}
    <em>{{ post.date }}</em>

    <br>

    {% if request.user == post.user %}
        <a href="{% url 'edit' post.id %}">Edit</a>
        <a href="{% url 'delete' post.id %}">Delete</a>
    {% endif %}

    <form method="post" action="{% url 'comment' post.id %}">
        {% csrf_token %}
        <textarea required name="text" placeholder="Enter your comment"></textarea></br>
        <button type="submit">Comment</button>
    </form>


    <h3>Comments</h3>

    {% if comments %}
        {% for c in comments %}
            <p>
                <a href="{% url 'otherprofile' post.user.username %}"><strong>{{ c.user }}</strong></a>
                <p>{{ c.text }}</p>
            </p>
        {% endfor %}
    {% else %}
        <p>There're have no comments yet!</p>
    {% endif %}
</body> 
</html>
