<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Подробнее</title>
</head>
<body>
    <h1>Подробнее</h1>

    {% if post.was_published_recently == True %}
        <p>New post!<p>
    {% endif %}

    <a href="{% url 'otherprofile' post.user.username %}">{{ post.user }}</a>
    <p>{{ post.text }}</p>
    <em>{{ post.date }}</em>

    <form method="post" action="{% url 'comment' post.id%}">
        {% csrf_token %}
        <textarea required name="text" placeholder="Enter your comment"></textarea></br>
        <button type="submit">Comment</button>
    </form>


    <h3>Comments</h3>

    {% if comments %}
        {% for c in comments %}
            <p>
                <a href="{% url 'otherprofile' post.user.username %}"><strong>{{ c.user }}</strong></a>
                <p>{{ c.text }}</p>
            </p>
        {% endfor %}
    {% else %}
        <p>There're have no comments yet!</p>
    {% endif %}
</body> 
</html>
