{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your followers</title>
</head>
<body>
    <h1>Your followers</h1>

        {% for f in followers %}
            <p>{{ f.user.username }}</p>
            <img src="{{ f.image.url }}"><br>
            <a href="{% url 'otherprofile' f.user.username %}">Profile</a>
        {% endfor %}

    <h1>People you following</h1>

        {% for f in follows %}
            <p>{{ f.username }}</p>
            <img src="{{ f.profile.image.url }}"><br>
            <a href="{% url 'otherprofile' f.username %}">Profile</a>
        {% endfor %}

</body>
</html>
