<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
    <h1>Главная страница</h1>

    {% for p in posts %}
        <p>{{ p.user }}</p>
        <p>{{ p.text }}</p>
        <p>{{ p.date }}</p>
        {% if p.was_published_recently == True %}
            <p>New post!</p>
        {% endif %}

        <form method="post" action="{% url 'like_post' %}">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="{{ p.id }}">
            {% if user not in p.liked.all %}
                <button type="submit">Like</button>
            {% else %}
                <button type="submit">Unlike</button>
            {% endif %}
        </form>
        <strong>{{ p.likes }}</strong>

        <a href="{% url 'detail' p.id %}">More</a>
    {% endfor %}

</body>
</html>
