{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user.username }}'s profile</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'follow_unfollow.js' %}" defer></script>
</head>
<body>

    <h1>{{ user.username }}</h1>


    <img src="{{ user_profile.user.profile.image.url }}"><br>

    <span>{{ user.email }}</span>
    <br>
    <span>Bio: {{ user_profile.bio }}</span>


    {% for msg in messages %}
        <p>{{ msg }}</p>
    {% endfor %}

    {% if request.user != user %}
        <form method="post" action="{% url 'follow_unfollow'  %}" class="follow-unfollow-form" id="{{ user_profile.pk }}">
            {% csrf_token %}
            <input type="hidden" name="profile_pk" value="{{ user_profile.pk }}">
            <button type="submit" class="btn{{ user_profile.pk }}">
                {% if follow %}
                    Unfollow
                {% else %}
                    Follow
                {% endif %}
            </button>
        </form>
    {% endif %}

    <h2>Posts by {{ user.username }}</h2>
    {% for p in posts %}
        <p>{{ p.user }}</p>
        <p>{{ p.text }}</p>
        <p>{{ p.date }}</p>
        {% if p.was_published_recently == True %}
            <p>New post!</p>
        {% endif %}

        <a href="{% url 'detail' p.id %}">More</a>
    {% endfor %}


</body>
</html>
