<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <h1>Profile page</h1>

   {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}

    <img src="{{ user.profile.image.url }}"><br>

    <span>Hello, {{ request.user }}</span><br>  
    <span>{{ request.user.email }}</span>

    <br><br>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ u_form.as_p }}
        {{ p_form.as_p }}

        <button type="submit">Update</button>
    </form>

    <br><br>
    <span><a href="{% url 'logout' %}">Log Out</a></span>
</body>
</html>
